<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>پروفایل</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>

      </ion-col>
      <ion-col class="ion-align-self-center">
        <!-- <div class="back-imgprofile">
          <img class="img-profile" src="assets/img/irisapp.png">
        </div> -->
        <!-- <ion-avatar>
          <img src="assets/img/irisapp.png">
        </ion-avatar> -->
        <img class="img-profile" src="assets/img/irisapp.png">
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <!-- <div class="skew-c"></div> -->

    <ion-row>
      <ion-col>
        <p class="name-profile">حمیدرضا سیناپور</p>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="register-date"> ثبت نام در تاریخ : 1/1/1/</p>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="back-number-user">
          <div class="number-user">15</div>
          <div class="subtitle-user">تعداد مشتریان شما</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="back-number-user">
          <div class="number-user">18</div>
          <div class="subtitle-user">تعداد محصولات</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="back-topprofile">

    <ion-grid>
      <ion-row>
        <ion-col>
          شماره تماس
        </ion-col>
        <ion-col>
          09379675606
        </ion-col>
      </ion-row>
      <!-- <ion-item-divider></ion-item-divider> -->
      <ion-split-pane when="md"></ion-split-pane>

      <ion-row>
        <ion-col>
          آیتم 1
        </ion-col>
        <ion-col>
          مقدار آیتم1
        </ion-col>
      </ion-row>
      <ion-item-divider></ion-item-divider>

      <ion-row>
        <ion-col>
          آیتم 1
        </ion-col>
        <ion-col>
          مقدار آیتم1
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-divider></ion-item-divider>

    <ion-item button (click)="buttonClick2()" detail dir="ltr">
      <ion-label>
        Button Item with Detail Arrow
      </ion-label>
    </ion-item>
    <!-- <ion-item-divider></ion-item-divider> -->
    <ion-item button (click)="buttonClick1()" detail dir="ltr">
      <ion-label>
        Button Item with Detail Arrow
      </ion-label>
    </ion-item>
  </div>


  <!-- <div class="skew-c"></div>
  <div class="colour-block">

  </div>
  <div class="skew-cc"></div>
  <div class="white-block">

  </div>
  <div class="skew-c"></div>
  <div class="colour-block">
    <h1>Skewed Clockwise.</h1>

  </div> -->
</ion-content>