<ion-header>
  <ion-toolbar>
    <ion-title>وضعیت سلامت فردی</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-chart></app-chart> -->
  <!-- <div [chart]="chart"></div> -->
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let answer of last14DaysAnswers">
        <table>
          <tr>
            <td rowspan="2">
              07
            </td>
            <td>مهر</td>
          </tr>
          <tr>
            <td>آیکن</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>