<ion-header>
  <ion-toolbar>
    <ion-title>add-place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>دسته بندی</ion-label>
      <ion-select placeholder="انتخاب کنید">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>استان</ion-label>
      <ion-select placeholder="انتخاب کنید">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>شهر</ion-label>
      <ion-select placeholder="انتخاب کنید">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-icon name="home-outline"></ion-icon>
      <ion-label position="fixed">نام مکان</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="golf-outline"></ion-icon>
      <ion-label position="fixed">آدرس</ion-label>
      <ion-textarea rows="3" cols="20" placeholder=""></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline"></ion-icon>
      <ion-label position="fixed">تلفن</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>

    </ion-item>


    <ion-button expand="block">Block Button</ion-button>


  </ion-list>
</ion-content>