<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>تابلو</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <canvas-whiteboard style="height: 100%;" #canvasWhiteboard [options]="canvasOptions"
    (onBatchUpdate)="onCanvasDraw($event)" (onClear)="onCanvasClear($event)" (onUndo)="onCanvasUndo($event)"
    (onRedo)="onCanvasRedo($event)">
  </canvas-whiteboard>

  <ion-button (click)="click()">click</ion-button>
</ion-content>