<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>آپلود</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div>
    <ion-item>
      <ion-label style="align-self: flex-start;" position="stacked" color="primary">عنوان فایل</ion-label>
      <ion-input [(ngModel)]="title" placeholder="عنوان فایل " type="text">
      </ion-input>
    </ion-item>
  </div> -->
  <div>
    <ion-item>
      <ion-label style="align-self: flex-start;" position="stacked" color="primary"> فایل</ion-label>
      <ion-input type="file" class="form-control choose-file" (change)="fileChangeEvent($event)"
        placeholder="انتخاب فایل" #fileInput>
      </ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-button color="primary" class="submit-btn" expand="block" (click)="upload()">
        بارگذاری
      </ion-button>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-progress-bar color="primary" [value]="value"></ion-progress-bar>
      <span style="margin: auto;">{{percent}}</span>
    </ion-item>
  </div>


</ion-content>