<ion-item>
  <img src="assets/img/mask-icon.png" style="width: 48px;" />
  <ion-label>استفاده پرسنل از ماسک</ion-label>
  <ion-badge color="success" slot="end">22</ion-badge>
</ion-item>
<ion-item>
  <ion-label>استفاده پرسنل از دستکش</ion-label>
  <ion-badge color="primary" slot="end">45</ion-badge>
</ion-item>
<ion-item>
  <ion-label>رعایت فاصله اجتماعی</ion-label>
  <ion-badge color="danger" slot="end">22</ion-badge>
</ion-item>
<ion-item>
  <ion-label>وجود مواد ضد عفونی</ion-label>
  <ion-badge color="warning" slot="end">22</ion-badge>
</ion-item>
<ion-item>
  <ion-label>تهویه مناسب</ion-label>
  <ion-badge color="success" slot="end">22</ion-badge>
</ion-item>
<div style="text-align: center;margin-top: 30px;">

  <ion-badge style="font-size: 40px;" color="success" slot="end">22</ion-badge>
</div>