<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="individual-health">
      <ion-icon name="images"></ion-icon>
      <ion-label>سلامت فردی</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-places">
      <ion-icon name="square"></ion-icon>
      <ion-label>جستجو مکان</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="square"></ion-icon>
      <ion-label>پروفایل</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>