<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="take-photo">
      <ion-icon name="images"></ion-icon>
      <ion-label>دوربین</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="gallery-tab">
      <ion-icon name="square"></ion-icon>
      <ion-label>گالری</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="photo-chooser">
      <ion-icon name="square"></ion-icon>
      <ion-label>انتخاب عکس</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>